/* Body */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
    background-image: url(../img/background-container.jpg);
}

.menuIcones {
    display: inline-flex;
    justify-content: center;
    width: 4%;
    height: 100%;
    background: linear-gradient(#848fe1bd, #7d646482);
    box-shadow: 0px 1px 50px #353535;
    align-self: center;
    position:absolute;
    align-items: center;
    border-radius: 0px 0px 5em 0px;
}


.navItem {
    margin: 0% 0% 100% -35%;
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    padding: 10%;
    border-radius: 25%;
    background: linear-gradient(#aea5b1, #b7a3a3);
}

.navItem:hover {
    background: linear-gradient(#ffffff, #b7a3a3);
}

.navItemActive {
    margin: 0% 0% 100% -35%;
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    padding: 10%;
    border-radius: 25%;
    background: linear-gradient(#aea5b1, #b7a3a3);
}

#profilImage {

}

#qualificationImage {

}

#experienceImage {

}
#etudesImage {

}

#contactImage {

}


/* Header */

header {
    background-color: #35353549;
}


.Titre {
    text-align: center;
    width: 100%;
    padding: 0% 0% 0% 25%;
    color:white;
}

.description {
    padding: 0% 20%;
    }
    

.TitrePresentation {
    text-align: center;
}

.strong {

    font-weight: bold;

}

.italic {

    font-style: italic;

}


/* Main */

main {
    display: flex;
}

.container {
    display: block;
    justify-content: center;
}

.menu{
    display:flex;
    background-repeat: no-repeat;
    background: linear-gradient( to right, #b6d2ffa6 0%, #53aaff 50%, #70e5ff 50%, #58dfff61 100% );
    background-size:cover;
    height: 30em;
    margin: 3em 0em 2em 0em;
    border-radius: 10px;
    box-shadow: 0px 1px 10px #353535;
    overflow: auto;
}


a {

    text-decoration: none;
    color:#0f23da;
    font-weight:bold;
}


.menuRight, .menuLeft{

    display: flex;
    width: 50%;
    padding: 0% 5%;
}

.menuRight {
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

.contenuMenu {
    padding: 3% 2%;
    display: block;
    color:black;
    height: auto;
    width: 100%;

}

.divImageRightMenu {
    display: block;
    justify-content: center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 40em;
    height: 20em;
    
}

.imageRightMenu {
    object-fit: contain;
    box-shadow: 0px 0px 40px #353535;
    max-width: auto;
    height: auto;

}

/* Template Etudes */

.school, .etudesH2{

    margin: 5% 0%;

}

.etudesH5 {

    margin: 3% 0%;

}

/* Template Profil */


.contenuMenuProfil {
    padding: 12% 2%;
    display: block;
    color:black;
    height: auto;
    width: 100%;
}


/* Template Qualifications */

.qualifications {

    padding: 12% 2%;
    display: block;
    color:black;
    height: auto;
    width: 100%;
    gap: 10%;
}
